$color_fondo: #232123;
$color_acordeon: #181718;
$color_texto: #A69E9A;
$color_parrafo: #444444;

body {
	text-align: center;	
	background-color: $color_fondo;
	color: $color_texto;
	font-family: sans-serif;
}

.acordeon {
	background-color: $color_acordeon;
	max-width: 640px;
	margin: 0 auto;
	
	&__contenido {			
		background-color: $color_parrafo;
		margin: 0;			
		padding: 5px 0;
		display: none;			
		text-align: left;	
	}

	&__item {	
	
	}	

	&__titulo {
		margin: 0;
		padding: 0.7em 0;		
		border-bottom: 1px solid rgba(#fff, .05);
		box-shadow: 0 -1px 0 0 #000 inset;
		text-shadow: 1px 1px #000;
		cursor: pointer;
	}

}

